body {
  font-family: Notosans, Arial, Helvetica, sans-serif;
  line-height: 1;
  color: #555;
}

a {
  color: #555;
}

.linkBg {
  background: rgb(255, 255, 79);
}

header #nav > div {
  display: flex;
  justify-content: space-between;
}

header #nav > div {
  display: none;
}

/* .innerBox */
.innerBox {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

/* header */
header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.hamBtn,
.searchBtn {
  display: none;
}

header .logo > a {
  display: block;
  margin-top: 20px;
  width: 150px;
}

header .logo > a > img {
  width: 100%;
}

header ul {
  display: flex;
}

header .topGnb,
header .bottomGnb {
  top: 0;
  right: 0;
  position: absolute;
}

header .topGnb > li {
  padding: 0 10px;
  border-right: 1px solid #ccc;
  font-size: 1.1em;
}

header .topGnb > li:last-child {
  border: none;
}

header .bottomGnb {
  display: flex;
  gap: 5px;
  top: 30px;
}

header .bottomGnb > a:last-child {
  border-radius: 30px;
  padding: 8px 15px;
  font-size: 1.2em;
  background-color: #35b1f0;
  color: white;
  transition: 0.2s;
}

header .bottomGnb > a:hover {
  background-color: #27a4e3;
  color: white;
}

header .searchIcon {
  background-color: white;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 85px;
  top: 4px;
}

header .searchIcon > img {
  width: 100%;
}

header .searchTxt {
  float: right;
  width: 0;
  height: 90%;
  border: 1px solid transparent;
  border-radius: 30px;
  outline: none;
  padding: 0 10px;
  transition: 0.4s;
}

header .searchON {
  width: 100%;
  border: 1px solid grey;
}

header #nav {
  justify-content: space-between;
  text-align: center;
  font-size: 1.5em;
}

header #nav > li {
  margin-top: 15px;
  width: calc(100% / 10);
  transition: 0.3s;
}

header #nav > li > a {
  padding: 10px 0;
  display: block;
}

header #nav > li:hover {
  background-color: #eee;
}

header #nav > li:last-child {
  border: none;
  padding-right: 0;
}

/* container  */
#container {
  padding: 190px 0 100px;
  background: #eee;
}
.loginBox {
  background: white;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 100px 50px;
  border-radius: 15px;
}
#container h1 {
  font-size: 2.5em;
  text-align: center;
  color: var(--textColor);
  padding-bottom: 20px;
}
.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
  border: 1px solid #ddd;
  width: 490px;
  padding: 15px 0 15px 10px;
  font-size: 1.4em;
}
.box1 {
  margin-bottom: 15px;
}
.box2 {
}
.box3 {
  margin-top: -1px;
}
.box4 {
  margin: 15px 0;
}
.text1 {
  font-size: 1.5em;
  padding: 15px 0;
}
.box6 {
  width: 60%;
  padding: 10px 0 10px 10px;
  margin-right: 20px;
  float: left;
}
.year {
  display: flex;
}
.button1,
.button2 {
  width: 10%;
  padding: 12px 0;
  background-color: #fff;
  text-align: center;
  font-size: 1.5em;
  border: none;
}
.button1 {
  margin-left: 15%;
  margin-right: -1px;
  border: 1px solid #ccc;
}
.button2 {
  border: 1px solid #ccc;
  transition: 0.2s;
}
.button1:hover,
.button2:hover {
  border: 1px solid transparent;
  background: #35b1f0;
  color: white;
}
.textBox {
  margin: 5% 0;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 1.25em;
}
.textBox1 > div {
  padding: 12px 20px;
}
.textBox1_text2,
.textBox1_text3,
.textBox1_text4,
.textBox1_text5 {
  display: flex;
  justify-content: space-between;
}
.textBox1 a:hover {
  opacity: 0.7;
}
.textBox1 input {
  margin-right: 5px;
  margin-top: 1%;
}
.textBox1_text1 {
  display: flex;
  background-color: #ebf6ff;
  border-bottom: 1px solid #ccc;
}
.textBox2_text2,
.textBox2_text4,
.textBox2_text5 {
  font-size: 0.8em;
}
.textBox2_text2 img,
.textBox2_text4 img,
.textBox2_text5 img {
  width: 6px;
  margin-top: 2px;
  padding-left: 5px;
}
input[type="reset"] {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.loginButton,
.signUpButton {
  text-align: center;
  max-width: 500px;
  border: 1px solid transparent;
  transition: 0.1s;
}
.signUpButton {
  background: #35b1f0;
  padding: 10px 0;
}
.signUpButton > input {
  background-color: #35b1f0;
  font-size: 1.5em;
  border: none;
}
.loginButton {
  background-color: #aaa;
  margin-top: 5%;
  padding: 12px 0;
}
.loginButton > a {
  font-size: 20px;
  font-weight: 500;
}
.signUpButton:hover,
.loginButton:hover {
  scale: calc(0.99);
}
/* footer */
footer {
  background-color: #e1e1e1;
  padding-bottom: 30px;
  word-break: keep-all;
}

.footTop {
  border-bottom: 1px solid #ccc;
}

.footTop .footMenu {
  display: flex;
  padding: 20px 0;
}

.footTop .footMenu li {
  color: #000;
  font-size: 1.2em;
  padding-right: 40px;
  /* background-color: yellowgreen; */
}

.footBottom div {
  display: flex;
  justify-content: space-between;
}

.footBottom .logo > a > img {
  margin-top: 25px;
  margin-right: 30px;
  width: 172px;
}

.footBottom .addressWrap {
  display: inline-block;
  margin-top: 50px;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 2px;
}

.footBottom .addressWrap address > p:first-child {
  margin-bottom: 15px;
}

.footBottom .addressWrap .copy {
  display: inline-block;
  margin-top: 15px;
}

.footBottom .custom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footBottom .custom .snsBtn {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.footBottom .custom .customBox {
  letter-spacing: 1.5px;
  display: inline-block;
  margin: 15px 0 0 20px;
  border-radius: 15px;
  width: 400px;
  height: 130px;
  background-color: #efefef;
  font-size: 1.2em;
}

.footBottom .custom .customBox > a {
  display: block;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
}

.footBottom .custom .customBox > div {
  display: block;
}

.footBottom .custom .customBox > div > p {
  text-align: center;
  padding-bottom: 5px;
}

.footBottom .custom .customBox > div > p > strong {
  color: #979797;
}

/* mobile */
@media screen and (max-width: 1250px) {
  .menuWrap {
    position: fixed;
    text-align: end;
    z-index: 1000;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    font-size: 18px;
    transform: translateX(100%);
    transition: 0.3s;
  }

  .activeMenu {
    transform: translateX(0);
  }

  header #nav {
    display: inline-block;
    background: white;
    width: 70%;
    max-width: 500px;
    height: 100%;
    right: 0;
    padding: 0px 20px;
  }

  header #nav .navRightTop {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  header #nav > li {
    width: 100%;
  }

  header #nav > li > a {
    font-size: 0.8em;
  }

  header .topGnb,
  header .bottomGnb {
    display: none;
  }

  header .searchBtn,
  header .hamClose {
    position: absolute;
    display: block;
    top: 10px;
    right: 0;
    margin-right: 18px;
  }

  header .hamClose {
    z-index: 1000;
  }

  header .searchBtn {
    right: 50px;
    top: 7px;
  }

  .searchBtn a {
    display: block;
    width: 30px;
  }

  .searchBtn a > img {
    width: 100%;
  }

  .hamClose {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-indent: 300px;
    overflow: hidden;
  }

  .hamClose a {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/hamberger.png);
  }

  .hamClose > .on {
    background-image: url(../images/xmark.png);
  }

  header .logo > a {
    width: 130px;
    padding-bottom: 10px;
    margin-left: 18px;
  }
}

@media screen and (max-width: 900px) {
  .footTop .footMenu {
    justify-content: space-around;
  }

  .footTop .footMenu li {
    padding-right: 0;
  }

  .footBottom div {
    display: block;
    text-align: center;
  }

  .footBottom .custom {
    align-items: center;
  }

  .footBottom .custom .customBox {
    margin: 20px 0px 0px;
  }
}

@media screen and (max-width: 767px) {
  .loginBox {
    padding: 10%;
  }
  #container {
    overflow: hidden;
  }
  .box1,
  .box2,
  .box3,
  .box4,
  .box5 {
    width: calc(100% - 13px);
  }
  .button1,
  .button2 {
    width: 20%;
    padding: 18px 0;
  }
  .button1 {
    margin-left: 5%;
    margin-right: -5px;
  }
  .textBox1 > div {
    padding: 10px;
  }
  .textBox1_text2 > div,
  .textBox1_text3 > div,
  .textBox1_text4 > div,
  .textBox1_text5 > div {
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .year {
    display: flex;
  }
  .button1,
  .button2 {
    padding: 10px 0;
  }
}
@media screen and (max-width: 480px) {
  .signUpButton {
    padding: 8px 0;
  }
  /* footer */
  .footBottom .custom .customBox {
    width: 90%;
  }
}
