body {
  font-family: Notosans, Arial, Helvetica, sans-serif;
  line-height: 1;
  color: #555;
}

a {
  color: #555;
}

.linkBg {
  background: rgb(255, 255, 79);
}

header #nav > div {
  display: flex;
  justify-content: space-between;
}

header #nav > div {
  display: none;
}

/* .innerBox */
.innerBox {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

/* header */
header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.hamBtn,
.searchBtn {
  display: none;
}

header .logo > a {
  display: block;
  margin-top: 20px;
  width: 150px;
}

header .logo > a > img {
  width: 100%;
}

header ul {
  display: flex;
}

header .topGnb,
header .bottomGnb {
  top: 0;
  right: 0;
  position: absolute;
}

header .topGnb > li {
  padding: 0 10px;
  border-right: 1px solid #ccc;
  font-size: 1.1em;
}

header .topGnb > li:last-child {
  border: none;
}

header .bottomGnb {
  display: flex;
  gap: 5px;
  top: 30px;
}

header .bottomGnb > a:last-child {
  border-radius: 30px;
  padding: 8px 15px;
  font-size: 1.2em;
  background-color: #35b1f0;
  color: white;
  transition: 0.2s;
}

header .bottomGnb > a:hover {
  background-color: #27a4e3;
  color: white;
}

header .searchIcon {
  background-color: white;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 85px;
  top: 4px;
}

header .searchIcon > img {
  width: 100%;
}

header .searchTxt {
  float: right;
  width: 0;
  height: 90%;
  border: 1px solid transparent;
  border-radius: 30px;
  outline: none;
  padding: 0 10px;
  transition: 0.4s;
}

header .searchON {
  width: 100%;
  border: 1px solid grey;
}

header #nav {
  justify-content: space-between;
  text-align: center;
  font-size: 1.5em;
}

header #nav > li {
  margin-top: 15px;
  width: calc(100% / 10);
  transition: 0.3s;
}

header #nav > li > a {
  padding: 10px 0;
  display: block;
}

header #nav > li:hover {
  background-color: #eee;
}

header #nav > li:last-child {
  border: none;
  padding-right: 0;
}

/* #container */
.loginWrap {
  background: #ddd;
  padding: 250px 0 100px 0;
  overflow: hidden;
}
.loginWrap .innerBox {
  background: white;
  width: 1176px;
  position: relative;
  margin: 0 auto;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
}
.loginWrap .loginBox,
.loginWrap .orderNumBox {
  width: 40%;
}
.loginWrap .loginBox {
  border-right: 1px solid #ddd;
  padding-right: 50px;
  margin-right: 50px;
}
.loginWrap h2 {
  font-size: 2.5em;
}
.loginWrap .loginBox h2 {
  color: #35b1f0;
}
.loginWrap .textBox {
  font-size: 1.35em;
  margin: 30px 0;
  line-height: 1.4em;
}
.login .loginId,
.login .loginPw,
.orderNumWrap .orderNum,
.orderNumWrap .email {
  font-size: 1.5em;
  border: 1px solid #ddd;
  padding: 20px 20px;
}
.login .loginPw,
.orderNumWrap .email {
  margin-top: -1px;
}

.loginWrap .login label,
.loginWrap .orderNumWrap label {
  display: inline-block;
  width: 100px;
}
.loginWrap input {
  font-size: 0.9em;
  outline: none;
  border: none;
}
.idFind {
  display: flex;
  font-size: 1.35em;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}
.idFind a p,
.idFind a img,
.orderNumBox a p,
.orderNumBox a img {
  display: inline-block;
}

.idFind a img,
.orderNumBox a img {
  padding-left: 3px;
}

.customerB {
  float: right;
  margin-top: 10px;
  font-size: 1.35em;
}
.orderNumBox .orderFind {
  display: block;
  width: 100%;
  padding: 15px 0;
  margin-top: 76px;
  border: none;
  background: #ccc;
  color: white;
  font-size: 1.5em;
  transition: 0.2s;
}
.orderNumBox .orderFind:hover {
  background: #bbb;
}
.loginBtn {
  width: 100%;
  padding: 15px 0;
  border: none;
  background: #35b1f0;
  color: white;
  font-size: 1.5em;
  transition: 0.2s;
}
.loginBtn {
  margin-top: 50px;
}
.joinBtn {
  margin-top: 5px;
  background: white;
  border: 1px solid #35b1f0;
  color: #35b1f0;
  display: block;
  padding: 15px 0;
  font-size: 1.5em;
  transition: 0.2s;
  text-align: center;
}
.loginBtn:hover {
  background: #26a0de;
}
.joinBtn:hover {
  background: #35b1f0;
  color: white;
}

/* footer */
footer {
  background-color: #e1e1e1;
  padding-bottom: 30px;
  word-break: keep-all;
}

.footTop {
  border-bottom: 1px solid #ccc;
}

.footTop .footMenu {
  display: flex;
  padding: 20px 0;
}

.footTop .footMenu li {
  color: #000;
  font-size: 1.2em;
  padding-right: 40px;
}

.footBottom div {
  display: flex;
  justify-content: space-between;
}

.footBottom .logo > a > img {
  margin-top: 25px;
  margin-right: 30px;
  width: 172px;
}

.footBottom .addressWrap {
  display: inline-block;
  margin-top: 50px;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 2px;
}

.footBottom .addressWrap address > p:first-child {
  margin-bottom: 15px;
}

.footBottom .addressWrap .copy {
  display: inline-block;
  margin-top: 15px;
}

.footBottom .custom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footBottom .custom .snsBtn {
  display: flex;
}

.footBottom .custom .snsBtn > li {
  margin-top: 30px;
  padding-right: 20px;
}

.footBottom .custom .customBox {
  letter-spacing: 1.5px;
  display: inline-block;
  margin: 15px 0 0 20px;
  border-radius: 15px;
  width: 400px;
  height: 130px;
  background-color: #efefef;
  font-size: 1.2em;
}

.footBottom .custom .customBox > a {
  display: block;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
}

.footBottom .custom .customBox > div {
  display: block;
}

.footBottom .custom .customBox > div > p {
  text-align: center;
  padding-bottom: 5px;
}

.footBottom .custom .customBox > div > p > strong {
  color: #979797;
}

/* mobile */
@media screen and (max-width: 1285px) {
  .menuWrap {
    position: fixed;
    text-align: end;
    z-index: 1000;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    font-size: 18px;
    transform: translateX(100%);
    transition: 0.3s;
  }

  .activeMenu {
    transform: translateX(0);
  }

  header #nav {
    display: inline-block;
    background: white;
    width: 70%;
    max-width: 500px;
    height: 100%;
    right: 0;
    padding: 0px 20px;
  }

  header #nav .navRightTop {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  header #nav > li {
    width: 100%;
  }

  header #nav > li > a {
    font-size: 0.8em;
  }

  header .topGnb,
  header .bottomGnb {
    display: none;
  }

  header .searchBtn,
  header .hamClose {
    position: absolute;
    display: block;
    top: 10px;
    right: 0;
    margin-right: 18px;
  }

  header .hamClose {
    z-index: 1000;
  }

  header .searchBtn {
    right: 50px;
    top: 7px;
  }

  .searchBtn a {
    display: block;
    width: 30px;
  }

  .searchBtn a > img {
    width: 100%;
  }

  .hamClose {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-indent: 300px;
    overflow: hidden;
  }

  .hamClose a {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/hamberger.png);
  }

  .hamClose > .on {
    background-image: url(../images/xmark.png);
  }

  header .logo > a {
    width: 130px;
    padding-bottom: 10px;
    margin-left: 18px;
  }
  .loginWrap .innerBox {
    flex-direction: column;
    align-items: center;
    width: 80%;
    word-break: keep-all;
  }
  .loginWrap .loginBox,
  .loginWrap .orderNumBox {
    width: 60%;
  }
  .loginWrap .loginBox {
    border: none;
    margin-right: 0;
    padding-right: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 70px;
    margin-bottom: 70px;
  }
  .loginWrap h2,
  .loginWrap .textBox {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .footTop .footMenu {
    justify-content: space-around;
  }

  .footTop .footMenu li {
    padding-right: 0;
  }

  .footBottom div {
    display: block;
    text-align: center;
  }

  .footBottom .custom {
    align-items: center;
  }

  .footBottom .custom .customBox {
    margin: 20px 0px 0px;
  }
}
@media screen and (max-width: 750px) {
  .loginWrap .loginBox,
  .loginWrap .orderNumBox {
    width: 90%;
  }

  /* footer */
  .footBottom .custom .customBox {
    width: 90%;
  }
}
