@font-face{
    font-family: NotoSansLight;
    src: url(../font/NotoSansKR-Light.otf);
    font-weight: 400;
}

@font-face{
    font-family: NotoSans;
    src: url(../font/NotoSansKR-Regular.otf);
    font-weight: 400;
}

@font-face{
    font-family: NotoSansMidium;
    src: url(../font/NotoSansKR-Medium.otf);
    font-weight: 400;

}

@font-face{
    font-family: NotoSansBold;
    src: url(../font/NotoSansKR-Bold.otf);
    font-weight: 400;
}

@font-face{
    font-family: NotoSansBlack;
    src: url(../font/NotoSansKR-Black.otf);
    font-weight: 400;
}

@font-face{
    font-family: Uchen;
    src: url(../font/Uchen-Regular.ttf);
    font-weight: 400;
}